<!-- Header -->
<div class="page-header">
    <ul class="uk-breadcrumb">
        <li><a ui-sref="main.home" class="text-blue">Home</a></li>
        <li><a href="" disabled>Courses</a></li>
    </ul>
</div>
<!-- Courses  -->
<div class="p-2">
    <div class="row">
        <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar  mb-3">
            <!-- Search Filter -->

            <!-- /Search Filter -->

            <div class="theiaStickySidebar">
                <div class="card search-filter">
                    <div class="card-header d-flex justify-content-between">
                        <h4 class="card-title mb-0">FILTERS</h4>
                        <a href="javascript:void(0);">Clear All</a>
                    </div>
                    <div class="card-body">
                        <div class="filter-widget">
                            <h4>By Category</h4>
                            <div class="form-group">
                                <select class="form-control select select2-hidden-accessible" data-select2-id="1"
                                    tabindex="-1" aria-hidden="true">
                                    <option data-select2-id="3">Select Category</option>
                                    <option ng-repeat="category in categories">{{category.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-widget">
                            <h4>By Level</h4>
                            <div class="form-group">
                                <select ng-model="level" class="form-control select select2-hidden-accessible" data-select2-id="7"
                                    tabindex="-1" aria-hidden="true">
                                    <option data-select2-id="9">Select Your level</option>
                                    <option value="beginner">Beginner</option>
                                    <option value="intermediate">Intermediate</option>
                                    <option value="advanced">Advanced</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-widget">
                            <h4>Keywords</h4>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Keywords">
                            </div>
                        </div>
                        <div class="btn-search">
                            <button type="button" class="btn btn-cart">Search</button>
                        </div>
                    </div>
                </div>
                <div class="resize-sensor"
                    style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                    <div class="resize-sensor-expand"
                        style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                        <div
                            style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 377px; height: 5146px;">
                        </div>
                    </div>
                    <div class="resize-sensor-shrink"
                        style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                        <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-8 col-xl-9">

            <div class="row">
                <!-- Project Content -->
                <div class="col-md-6 col-lg-12 col-xl-6" ng-repeat="course in courses track by $index">
                    <div class="freelance-widget widget-author">
                        <div class="freelance-content">
                            <a data-bs-toggle="modal" href="#rating" class="favourite"><i
                                    class="fas fa-star"></i></a>
                            <div class="author-heading">
                                <div class="profile-img">
                                    <a href="#">
                                        <img src="{{course.img}}" alt="author">
                                    </a>
                                </div>
                                <div class="freelance-info">
                                    <h3><a href="#">{{course.name}}</a></h3>
                                    <div class="freelance-location mb-1"><i class="fas fa-clock"></i> {{ course.duration }}</div>
                                    <div class="freelance-location"><i
                                            class="fas fa-map-marker-alt me-1"></i>Georgia, USA</div>
                                </div>
                                <div class="freelancers-price">{{course.price | currency}}</div>
                            </div>
                            <div class="counter-stats">
                                <ul>
                                    <li>
                                        <h3 class="counter-value">enroll before</h3>
                                        <h5>2021-08-01</h5>
                                    </li>
                                    <li>
                                        <h3 class="counter-value">15</h3>
                                        <h5>enroller</h5>
                                    </li>
                                    <li>
                                        <h3 class="counter-value"><span class="jobtype">Instructor</span></h3>
                                        <h5>{{course.instructor.name}}</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="cart-hover">
                            <a href="javascript:void(0)" ng-click="viewCourse(course)" class="btn-cart" tabindex="-1">enroll Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>