<div ng-controller="coursesCtrl">
    <!-- Header -->
    <div class="page-header">
        <ul class="uk-breadcrumb">
            <li><a ui-sref="main.home" class="text-blue">Home</a></li>
            <li><a ui-sref="main.courses">Courses</a></li>
            <li><a href="javascript:void(0)" disabled>{{course.name}}</a></li>
        </ul>
    </div>
    <div class="jumbotron">
        <h1 class="uk-heading-bullet">{{course.name}}</h1>
        <h4>Duration:{{course.duration}}</h4>
        <img src="{{course.img}}" style="width: 150px;height: 150px;" alt="" class="float-lg-right">
    </div>
    <section class="p-2">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="General">
                    <md-content class="md-padding">
                        <dl class="uk-description-list uk-description-list-divider">
                            <dt>Concept 1</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                            <dt>Concept 2</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</dd>
                            <dt>Concept 3</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua.</dd>
                        </dl>
                    </md-content>
                </md-tab>
                <md-tab label="Lectures">
                    <md-content class="md-padding">
                        <div class="p-4" ng-if="!course.lectures || course.lectures.length == 0">
                            <h3>There are no Lectures Yet.</h3>
                        </div>
                        <ul uk-accordion ng-if="course.lectures.length != 0" >
                            <li class="uk-accordion-content" ng-repeat="lecture in course.lectures">
                                <a class="uk-accordion-title">{{lecture.name}}</a>
                                <div class="uk-accordion-content">
                                    <ol>
                                        <li ng-repeat="lesson in lecture.lessons">
                                            {{lesson.name}}
                                        </li>
                                    </ol>
                                </div>
                            </li>
                        </ul>
                    </md-content>
                </md-tab>
                <md-tab label="Instructor">
                    <md-content class="md-padding">
                        <div class="row justify-content-start">
                            <div class="d-flex flex-column col-md-auto">
                                <img class="" style="border-radius: 50%" src="{{course.instructor.img}}" width="100" height="100"
                                    alt="Example image">
                                <h6 class="font-weight-bold mt-2">Ins. {{ course.instructor.name }}</h6>
                            </div>
                            <div class="col-md-10 text-justify">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="REVIEWS">
                    <md-content class="md-padding">
                        <article class="container-fluid uk-comment" ng-repeat="Q in faqs">
                            <header class="uk-comment-header">
                                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-comment-avatar rounded" src="img/about1.png" width="80" height="80" alt="">
                                    </div>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{Q.name}}</a></h4>
                                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                            <li><a href="#">12 days ago</a></li>
                                            <li><a id="reply">Reply</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </header>
                            <div class="uk-comment-body">
                                <p>{{Q.comment}}.</p>
                            </div>
                        
                        </article>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>
</div>
