<!-- Header -->
<div class="page-header">
    <ul class="uk-breadcrumb">
        <li><a ui-sref="main.home" class="text-blue">Home</a></li>
        <li><a href="" disabled>Courses</a></li>
    </ul>
</div>
<!-- Courses  -->
<div class="p-2">
    <div class="row">
        <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar mb-3">
            <!-- Search Filter -->

            <!-- /Search Filter -->

            <div class="theiaStickySidebar">
                <div class="card search-filter">
                    <div class="card-header d-flex justify-content-between">
                        <h4 class="card-title mb-0">FILTERS</h4>
                        <a href="javascript:void(0);" ng-if="filter" ng-click="resetFilters()">Clear All</a>
                    </div>
                    <div class="card-body">
                        <div class="filter-widget">
                            <h6>By Category</h6>
                            <div class="form-group">
                                <select ng-model="categoryFilter" class="form-control select select2-hidden-accessible"
                                    tabindex="-1" aria-hidden="true">
                                    <option value="">All</option>
                                    <option value="{{ category.id }}" ng-repeat="category in categories">
                                        {{category.title}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-widget">
                            <h6>By Level</h6>
                            <div class="form-group">
                                <select ng-model="levelFilter" class="form-control select select2-hidden-accessible"
                                    data-select2-id="1" tabindex="-1">
                                    <option value="">All</option>
                                    <option value="easy">Beginner</option>
                                    <option value="med">Intermediate</option>
                                    <option value="hard">Advanced</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-widget">
                            <h6>Keywords</h6>
                            <div class="form-group">
                                <input type="text" ng-model="keyword" class="form-control" placeholder="Enter Keywords">
                            </div>
                        </div>
                        <div class="btn-search">
                            <button type="button" class="btn btn-cart" ng-click="search()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-8 col-xl-9 min-h-50">
            <div class="sort-tab">
                <div class="ml-2">
                    <h4>Showing {{ pagination().firstItem }} - {{ pagination().lastItem  }} of
                        {{ pagination().allItems }}
                    </h4>
                </div>
                <div class="mr-2">
                    <i 
                        class="fas fa-list-ul px-1" 
                        ng-class="view == 'list' ? 'active' : ''" 
                        uk-tooltip="List View"></i>
                    
                    <i 
                        class="fas fa-th-large px-1" 
                        ng-class="view == 'grid' ? 'active' : ''" 
                        uk-tooltip="Grid View"></i>
                </div>
            </div>
            <!-- No Courses -->
            <div class="no-courses" ng-if="courses.length == 0">
                <h4 class="p-4">No courses Matching Your Search</h4>
                <img src="../img/404.svg" alt="no-data">
            </div>
            <div class="row" ng-if="courses.length != 0">
                <!-- Project Content -->
                <div ng-click="viewCourse(course)" class="col-md-6 col-lg-12 col-xl-6"
                    ng-repeat="course in courses track by $index">
                    <div class="freelance-widget widget-author">
                        <div class="freelance-content">
                            <div class="author-heading">
                                <div class="profile-img">
                                    <a>
                                        <img src="{{course.img}}" alt="author">
                                    </a>
                                </div>
                                <div class="freelance-info">
                                    <h3><a>{{course.name}}</a></h3>
                                    <h4 class="freelance-location">{{getCategoryName(course.category_id)}}</h4>
                                    <div class="freelance-location mb-1"><i class="fas fa-clock"></i>
                                        {{ course.duration }}
                                    </div>
                                </div>
                                <div class="freelancers-price">{{course.price | currency}}</div>
                            </div>
                            <div class="counter-stats">
                                <ul>
                                    <li>
                                        <h3 class="counter-value">enroll before</h3>
                                        <h5>2021-08-01</h5>
                                    </li>
                                    <li>
                                        <h3 class="counter-value">{{ course.enrollers }}</h3>
                                        <h5>enroller</h5>
                                    </li>
                                    <li>
                                        <h3 class="counter-value"><span class="jobtype">Instructor</span></h3>
                                        <h5>{{course.instructor.name}}</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="cart-hover">
                            <a href="javascript:void(0)" class="btn-cart" tabindex="-1">enroll Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" ng-if="pages > 1">
                <ul class="paginations list-pagination">
                    <li ng-if="currentPage > 1"><a href="javascript:void(0)" ng-click="changePage(currentPage - 1)"><i
                                class="fas fa-angle-left"></i> Previous</a></li>
                    <li ng-repeat="page in getRepeater(pages) track by $index">
                        <a ng-click="changePage($index + 1)" href="javascript:void(0)"
                            ng-class="currentPage == $index + 1 ? 'active':''">{{$index + 1}}</a>
                    </li>
                    <li ng-if="pages > currentPage"><a href="javascript:void(0)"
                            ng-click="changePage(currentPage + 1)">Next <i class="fas fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
