<!-- <div id="modal-signup" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header" style="background-color: #2d3092">
            <h2 class="uk-modal-title" style="color: white">Sign Up</h2>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>

            <form>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" placeholder="Username">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input" type="text" placeholder="E-mail">
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon " uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" placeholder="Password">
                    </div>
                </div>

            </form>
        </div>

        <div class="uk-modal-footer uk-text-right">

            <button class="uk-button btn-info text-center" type="button">Sign Up</button>
        </div>

    </div>
</div>

<div style="background-color: #2d3058;" class="navbar navbar-expand-lg nav d-none d-lg-block border-bottom-0">
    <div class="container-fluid">
        <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="header-info-left">
                    <a href="" class="nav-item text-info" uk-icon="twitter"></a>
                    <a href="" class="nav-item text-primary" uk-icon="facebook"></a>
                    <a href="" class="nav-item text-danger" uk-icon="google-plus"></a>
                </div>
                <div class="header-info-right">
                    <a href="#modal-signup" class="uk-button uk-button-primary text-white uk-border-rounded"
                        uk-toggle>Sign up</a>
                    <a class="uk-button uk-button-default text-white uk-border-rounded">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<nav id="nav" uk-sticky="animation: uk-animation-slide-top" ng-controller="appCtrl" style="padding: 0 1rem;"
    class="nav navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="img/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" uk-icon="icon:menu;ratio:2"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a ui-sref-active="active" class="nav-link uk-border-rounded" ui-sref="main.home">Home</a>
            </li>
            <li class="nav-item">
                <a ui-sref-active="active" class="nav-link uk-border-rounded" ui-sref="main.courses">Courses</a>
            </li>
            <li class="nav-item">
                <a ui-sref-active="active" class="nav-link uk-border-rounded" ui-sref="main.contact">Contact Us</a>
            </li>
        </ul>
        <div>
            <a class="uk-navbar-toggle " uk-search-icon href=""></a>
            <div class="uk-drop" uk-drop="mode: click; pos: right-center; offset: 0">
                <form class="uk-search uk-search-navbar">
                    <input class="uk-search-input search " type="search" placeholder="Search..." autofocus>
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="router-container" ui-view="sub">
</div>

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>1010 Avenue, sw 54321, chandigarh</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+249 125899799</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>contact@online-edu.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 py-3">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="javscript:void(0)"><img src="img/logo-white.png" class="img-fluid"
                                    alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                                incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="javascript:void(0)"><i uk-icon="facebook" class="facebook-bg"></i></a>
                            <a href="javascript:void(0)"><i uk-icon="twitter" class="twitter-bg"></i></a>
                            <a href="javascript:void(0)"><i uk-icon="google" class="google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 py-3">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="javascript:void(0)">Home</a></li>
                            <li><a href="javascript:void(0)">About</a></li>
                            <li><a href="javascript:void(0)">Courses</a></li>
                            <li><a href="javascript:void(0)">Contact</a></li>
                            <li><a href="javascript:void(0)">About us</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 py-3">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i uk-icon="mail"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="copyright-text">
            <p>Copyright &copy; {{ year}}, All Right Reserved</a>
            </p>
        </div>
    </div>
</footer>
